.main-info-section{
    padding: 100px;
    background-color: #212529;
    vertical-align: middle !important;
}

.info-section-dark, .image-section-dark{
    background-color: #212529;
}

.info-section-dark Button, .info-section-light Button{
    width: 50%;
    margin: auto;
    vertical-align: middle;
}

.main-info-section-light{
    padding: 100px;
}

